{% extends "base.html" %}
{% set active_page = 'register' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<!-- Error Flashing -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

<!-- Div class to center and align the login information -->
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="w-25">
    <form method="post">
      {{ form.csrf_token }}

      <div class="mb-3">
        <fieldset class="form-field">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control") }}
          {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>
      </div>
      <div class="mb-3">
        <fieldset class="form-field">
          {{ form.password_one.label(class="form-label") }}
          {{ form.password_one(class="form-control") }}
          {{ form.password_two.label(class="form-label") }}
          {{ form.password_two(class="form-control") }}
        </fieldset>
      </div>
      {{ form.submit(class="btn btn-danger") }}
    </form>
    <br />
  </div>
</div>

<br />
<p class="top"> Already registered? <a class="bottom" href="{{ url_for('login') }}"> Login Here </a></p>
{% endblock %}