{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container marketing">
  <h1>About Us</h1>
  <p>This is our web application for the TCSS 506 Capstone project. We decided to build an application
    that would help users find US National Parks.</p>
</div>
<div class="container marketing">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Kevin Chung</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">Contribution</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
          </ul>
          <a href="{{ url_for('webcam') }}" class="w-100 btn btn-lg btn-outline-primary" role="button">Active Webcams</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Xingguo Huang</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">Contribution</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
          </ul>
          <a href="{{ url_for('webcam') }}" class="w-100 btn btn-lg btn-outline-primary" role="button">Parks By State</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">JP Montagnet</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">Contribution</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
          </ul>
          <a href="{{ url_for('webcam') }}" class="w-100 btn btn-lg btn-outline-primary" role="button">Park Activities</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container marketing">
    <h2>Park Buddies - Stay updated with your National Parks</h2>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Search all US National Parks by State.</li>
      <li class="list-group-item">Determine which activities are available.</li>
      <li class="list-group-item">Watch a live webcam feed directly from our service.</li>
      <li class="list-group-item">Adventure On!</li>
    </ul>
  </div>

{% endblock %}