{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="container marketing px-4 py-2">
  <h2 class="pb-2 border-bottom text-center">About Us</h2>
    <p>This is our web application for the TCSS 506 Capstone project. We decided to build an application
    that would help users find US National Parks.</p>
</div>

<div class="container marketing px-4 py-2">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for name, value in profile.items() %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"> <b>{{ name }}</b> </h4>
        </div>
        <div class="card card-block h-100 flex-column justify-content-center">
          <img src="{{ value["gif"] }}" class="card-img-center mx-auto d-block" 
          style="max-width: 18em; max-height: 15em;">
        </div>
        <div class="card-body">
          <h3 class="card-title">Features</h3>
          <ul class="list-group list-group-flush">
            {% for item in value["feat"] %}
            <li class="list-group-item">{{ item }}</li>
            {% endfor %}
          </ul>
          <br>
          <a href="{{ url_for(value["endpoint"]) }}" 
            class="w-100 btn btn-lg btn-outline-danger"
            role="button"> Webpage </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <div class="container marketing px-4 py-5">
    <h2 class="pb-2 border-bottom">Park Buddies - Stay updated with your National Parks</h2>

    <ul class="list-group list-group-flush">
      {% for feature in site %}
      <li class="list-group-item">{{ feature }}</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}