{% extends "base.html" %}
{% set active_page = 'activities' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="container marketing px-4 py-5">
  <h2 class="pb-2 border-bottom">Activities</h2>
  <p>Do All The Things! A park is not just a destination. Rather, each park is a launchpad
  to a unique set of activities that engage with the features of the park.
  Whether you are after advanced mountain climbing, a convenient fishing hole,
  or even just a quiet spot to watch birds, opportunities abound. </p>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <div class="input-group mb-3">
      <button type="button" class="btn btn-outline-secondary">Action</button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Camping</a></li>
        <li><a class="dropdown-item" href="#">Hiking</a></li>
        <li><a class="dropdown-item" href="#">Fishing</a></li>
        <li><a class="dropdown-item" href="#">Skiing</a></li>
        <!-- li><hr class="dropdown-divider"></li -->
      </ul>
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>
</div>

</html>

{% endblock %}