{% extends "base.html" %}
{% set active_page = 'activities' %}
{% block title %} {{title}} {% endblock %}
{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
{% endblock %}
{% block content %}

<div class="container marketing px-4 py-5">
  <h2 class="pb-2 border-bottom">Activities</h2>
  <p> Do All The Things!</p>
  <p> A park is not just a destination. Rather, each park is a launchpad
  to a unique set of activities that engage with the features of the park.
  Whether you are after advanced mountain climbing, a convenient fishing hole,
  or even just a quiet spot to watch birds, opportunities abound. </p>
</div>

<!-- search form -->
<div class="container">
  <form method="post">
    {{ form.csrf_token }}
    <fieldset class="form-select w-25">
      {{ form.activs.label(class="form-label") }}
      {{ form.activs(class="form-control", size=5) }}
    </fieldset>
    {{ form.submit(class="btn btn-lg btn-primary") }}
  </form>
</div>

{% if results %}
<!-- table of results -->
<div class="container py-5">
    <table class="table table-striped">
        <thead>
        <tr style="position:sticky;top:0;background-color:white">
            <th scope="col">Park</th>
            {% for activ in chosen.values() %}
            <th scope="col">{{ activ }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for park in results %}
            <tr>
                <td class="align-middle">{{ park['name'] }}</td>
                {% for activ in chosen.values() %}
                <td class="align-middle">
                  {% if park["acts"][activ] %}
                  <span class="bi-check-circle-fill" style="color:green;font-size:larger"></span>
                  {% endif %}
                </td>
                {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}