{% extends "base.html" %}
{% set active_page = 'activities' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<!-- banner -->
<div class="container marketing px-4 py-5">
  <h2 class="pb-2 border-bottom">Activities</h2>
  <p>Do All The Things! A park is not just a destination. Rather, each park is a launchpad
  to a unique set of activities that engage with the features of the park.
  Whether you are after advanced mountain climbing, a convenient fishing hole,
  or even just a quiet spot to watch birds, opportunities abound. </p>
</div>

<!-- search form -->
<div class="container">
  <form method="post">
    {{ form.csrf_token }}
    <fieldset class="form-select w-25">
      {{ form.activs.label(class="form-label") }}
      {{ form.activs(class="form-control", size=5) }}
    </fieldset>
    {{ form.submit(class="btn btn-lg btn-primary") }}
  </form>
</div>

<!-- table of results -->
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Park</th>
            {% for activ in chosen.values() %}
            <th scope="col">{{ activ }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for park in results.values() %}
            <tr>
                <td class="align-middle">{{ park['Name'] }}</td>
                {% for activ in chosen.values() %}
                <td class="align-middle">{{ park[activ] }}</td>
                {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}