{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="container marketing px-4 py-3">
  <h2 class="pb-2 border-bottom text-center">National Parks</h2>
  <p>Since 1916, the National Park Service has been entrusted with the care of our national parks. With the help of
    volunteers and partners, we safeguard these special places and share their stories with more than 318 million
    visitors every year. But our work doesn't stop there.
    We are proud that tribes, local governments, nonprofit organizations, businesses, and individual citizens ask for
    our help in revitalizing their communities, preserving local history, celebrating local heritage, and creating
    close-to-home opportunities for kids and families to get outside, be active, and have fun.
    Taking care of the national parks and helping Americans take care of their communities is a job we love, and we
    need—and welcome—your help and support..</p>
</div>

<div class="container marketing">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for key, value in services.items() %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><b>{{ key }}</b></h4>
        </div>
        <div class="card-image d-flex justify-content-center h-100">
          <img src="{{ url_for('static',filename= value["image"] )}}" class="card-img-top"
            style="max-height:300px; max-width:500px;">
        </div><br>
        <div class="card-body">
          <a href="{{ url_for(value["endpoint"]) }}" class="w-100 btn btn-lg btn-outline-primary" role="button">{{ value["btn"] }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</html>

{% endblock %}