{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="container marketing px-4 py-5">
  <h2 class="pb-2 border-bottom">National Parks</h2>
    <p>All services that we provide are below.</p>
</div>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-4">
        <p><a href="{{  url_for('activities') }}">Activities</a></p>
      <img src="{{ url_for('static',filename='goofy_camping_500x500.jpg') }}" class="img-responsive"
        style="height:300px" alt="goofy camping">
    </div>
    <div class="col-sm-4">
      <p><a href="{{  url_for('parkbystate') }}">Park by State</a></p>
      <img src="{{ url_for('static',filename='yakko_50states_384x384.jpg') }}" class="img-responsive"
        style="height:300px" alt="yakko states">
    </div>
    <div class="col-sm-4">
      <p><a href="{{  url_for('webcam') }}">Live Cams!</a></p>
      <img src="{{ url_for('static',filename='monkey_selfie_555x555.jpg') }}" class="img-responsive"
        style="height:300px" alt="monkey selfie">
    </div>
  </div>
</div><br>

<!-- https://getbootstrap.com/docs/5.0/components/carousel/
  Slides only
Here’s a carousel with slides only. Note the presence of the .d-block and .w-100 on carousel images to prevent browser default image alignment. -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1592743263126-bb241ee76ac7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmVhdXRpZnVsJTIwc2NlbmVyeXxlbnwwfHwwfHw%3D&w=1000&q=80" height="300" class="d-block w-100" alt="Image">
    </div>
    <div class="carousel-item">
      <img src="https://media.cntraveler.com/photos/60596b398f4452dac88c59f8/4:5/w_2132,h_2665,c_limit/MtFuji-GettyImages-959111140.jpg"  height="300" class="d-block w-100" alt="Image">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/275538/pexels-photo-275538.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="300" class="d-block w-100" alt="Image">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



</html>

{% endblock %}