{% extends "base.html" %}
{% set active_page = 'login' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="container marketing px-4 py-3">
  <h2 class="pb-2 border-bottom text-center">Start Exploring on Park Buddies Today</h2>
  <p>The National Park System of the United States is the collection of physical properties owned or administered by the National Park Service.
    The collection includes all national parks and most national monuments, as well as several other types of protected areas of the United States. </p>
</div>

<!-- Carousel of Park Images -->
<div class="container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.nps.gov/olym/learn/photosmultimedia/images/Lake-Crescent.jpg?maxwidth=1200&maxheight=1200&autorotate=false"
          style="height:360px" class="d-block w-100">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Adventure Onwards!</h1>
            <p>Explore US National Parks</p>
            <p><a class="btn btn-lg btn-primary" href="{{url_for("register")}}">Register Here</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://www.nps.gov/olym/planyourvisit/images/stream_river_mossy_hoh_rainforest_scenic_forest_floor_r_mckenna_march_2015.jpg?maxwidth=1200&maxheight=1200&autorotate=false"
          style="height:360px" class="d-block w-100">
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Learn about PC_LOAD_LETTER</h1>
            <p>Read about the team behind Park Buddies</p>
            <p><a class="btn btn-lg btn-primary" href="{{url_for("about")}}">About Us</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://www.nps.gov/olym/planyourvisit/images/AndersonGlacierTrail.jpg?maxwidth=650&autorotate=false&quality=78&format=webp"
          style="height:360px" class="d-block w-100">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Register here to explore your National Parks!</p>
            <p><a class="btn btn-lg btn-primary" href="{{url_for("register")}}">Register Here</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div><br>

<!-- Technology Grid Items -->
<div class="container" id="icon-grid">
  <h2 class="pb-2 border-bottom text-center">Technology</h2>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {% for key, value in tech.items() %}
      <div class="col">
        <div class="card h-100">
          <div class="card-header text-center">
            <b> {{ key }} </b>
          </div>
          <div class="card card-block h-100 flex-column justify-content-center">
            <img src="{{ value }}" class="card-img-center mx-auto d-block" 
            style="max-width: 200px; max-height: 200px;">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}