{% extends "base.html" %} {% set active_page = 'parkbystate' %} {% block title
%} Parkbystate {% endblock %} {% block content %}
<table class="table table-striped">
  <!-- below is copied from login.html  -->
  <!-- The above is copied from login.html -->

  <thead>
    <tr>
      <th scope="col">fullName</th>
      <th scope="col">fullName</th>
      <th scope="col">description</th>
    </tr>
  </thead>

  <tbody>
    {% for park in myData.values() %}
    <tr>
      <td class="align-middle">{{ park['fullName'] }}</td>
      <td class="align-middle">
        <img src= {{ park['images'][0]['url'] }} class="img-thumbnail"
        style="max-height:50px;max-width:50px;"> {{park['latLong']}}
      </td>
      <td class="align-middle">{{ park['description']}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
