{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<!-- Div class to center and align the login information -->
<div class="d-flex align-items-center justify-content-center">
  <main class="form-signin w-50 m-auto">
    <form method="post">
      {{ form.csrf_token }}

      <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>

      <div class="form-floating">
        <fieldset class="form-field">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control") }}
        </fieldset>
      </div><br>
      
      {{ form.state.label(class="form-label") }}
      {{ form.state(class="form-select") }}
      <br>

      <div class="form-floating">
        <fieldset class="form-field">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
        </fieldset>
      </div><br>

      <div class="form-floating">
        <fieldset class="form-field">
          {{ form.password2.label(class="form-label") }}
          {{ form.password2(class="form-control") }}
        </fieldset>
      </div><br>

      {{ form.submit(class="w-25 btn btn-lg btn-danger") }}
      <p class="mt-5 mb-3 text-muted">Already registered?</p>
      <a class="bottom" href="{{ url_for('login') }}">Login Here</a>
    </form>
  </main>
</div>

{% endblock %}